h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.images-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__container {
    position: relative;
    width: 25%;
    height: 500px;
    margin: 10px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s 0.2s ease-out;
    border-radius: 10px;

    &--hidden {
      opacity: 0;
    }
  }
}
